img{
  padding: 10px;

}

h1{
  text-align: center;
}

p{
  text-align: center;
}

i{
  margin: 5px;


}
.border h1{
  color: blue;
}

.border p{
text-align: center;
margin: 30px;
padding: 10px;
justify-content: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
